/* General styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body {
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .setting-item {
    /* Apply dark theme styles to the settings section too */
    background-color: #333;
    color: white;
}

#cryptoDepositPage {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 10px;
    color: #666;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

span{
    font-weight: bold;
    font-size: 15px;
    color: #30334B;
}

p{
    font-size: 10px;
    color: #666;
}

#qrCodeContainer {
    margin-top: 20px;
}

#qrCodeImage {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    display: block;
}

.copy-btn {
    background-color: #747bb1;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #30334B;
}

button[type="submit"] {
    background-color: #30334B;
    color: white;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #747bb1;
}
