*{
    padding: 0;
    z-index: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body{
    background-color: #1E88E5;
}

.body-container{
    
}

nav{
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
}

nav button{
    background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

nav .logo img{
    width: 6rem;
}

nav .nav-items img{
    width: 1.5rem;
}

.container{
    padding: 0rem 2rem;
}

.space{
    height: 7rem;
}

.container1{
    background-color: white;
    width:90%;
    border-radius: 10px;
    position: absolute;
    margin-top: -7rem;
    left: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container1 .top{
    padding: 2rem 1.5rem;
}

.container1 .top p{
    font-size: 15px;
}

.container1 .top .balance{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    margin-top: 5px;
}

.container1 .top .balance p{
    font-size: 30px;
}

.container1 .top .balance button{
    color: #1E88E5;
    font-size: 25px;
    background-color: #e6f3ff;
    padding: 0.7rem 1rem;
    border-style: none;
    border-radius: 10px;
}

.container1 .bottom{
    display: flex;
    justify-content: space-evenly;
}

.container1 .bottom .withdraw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.container1 .bottom .withdraw button{
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #1E88E5;
    color: white;
}

.container1 .bottom .withdraw label{
    font-size: 11px;
}

.second{
    background-color: #edf5fc;
    height: 75rem;
}

.second .entries{
    padding: 2rem 1.5rem;
}

.second .entries .tabs1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.second .entries .tabs1 .tab{
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.second .entries .tabs1 .tab p{
    font-size: 12px;
    color: rgb(146, 145, 145);
}

.second .entries .tabs1 .tab .amount{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    padding: 1.5rem 2rem;
    text-align: center;
    margin-top: -2rem;
}

/* Hide all slides by default */
.mySlides {
    display: none;
}

img {
    width: 100%;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.8s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Dots/Indicators */
.dots-container {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 3px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;

    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #1E88E5;
}

.second .container2{
    padding: 0rem 2rem;
    margin-top: -1rem;
}

.second .container2 .top{
    display: flex;
    justify-content: space-between;
}

.second .container2 .top a{
    font-size: 12px;
    color: #1E88E5;
    text-decoration: none;
    margin-top: 7px;
}

.second .container2 .transactions{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.second .container2 .transactions .transaction{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.second .container2 .transactions .transaction .left{
    display: flex;
    gap: 10px;
}

.second .container2 .transactions .transaction .left img{
    width: 3.5rem;
}

.second .container2 .transactions .transaction .left .details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.second .container2 .transactions .transaction .left .details h4{
    font-size: 12px;
}

.second .container2 .transactions .transaction .left .details p{
    font-weight: bold;
    font-size: 10px;
    color:  rgb(146, 145, 145);
}

.second .container2 .transactions .transaction .right{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.second .container2 .transactions .transaction .right p{
    font-size: 15px;
    font-weight: bold;
    color: rgb(29, 213, 127);
    text-align: right;
}

.second .container2 .transactions .transaction .right h5{
    font-size: 10px;
    color: rgb(146, 145, 145);
}

.second .container3{
    padding: 0rem 2rem;
    margin-top: 1rem;
}

.second .container3 .top{
    display: flex;
    justify-content: space-between;
}

.second .container3 .top a{
    font-size: 12px;
    color: #1E88E5;
    text-decoration: none;
    margin-top: 7px;
}

.second .container3 .cards{
    padding: 1rem 0rem;
}

.second .container3 .cards .card1{
    background: linear-gradient(140deg, #1e3a8a, #7349f0);
    height: 13rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


/* Bottom Navigation Menu */
.bottom-nav {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.bottom-nav .nav-links li {
    text-align: center;
    flex: 1;
}

.bottom-nav .nav-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1E88E5;
    text-decoration: none;
    font-size: 0.8rem;
}

.bottom-nav .nav-links li a img {
    width: 34px;
    height: 34px;
    margin-bottom: 4px;
    background-color: #ffffff;
}

.bottom-nav .nav-links li a span {
    font-size: 0.7rem;
}