/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#accountDetails {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

h4 {
    margin-bottom: 20px;
    color: #30334B;
}

.detail {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail label {
    font-size: 10px;
    color: #666;
}

.detail span {
    font-size: 15px;
    color: #30334B;
    flex-grow: 1;
    padding-left: 10px;
    font-weight: bold;
}

.copy-btn {
    background-color: #30334B;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #777eb8;
}

.copy-btn:active {
    background-color: #777eb8;
}

/* Tooltip style for copy button */
.copy-btn:after {
    content: "Click to copy";
    display: none;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #333;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s;
}

.copy-btn:hover:after {
    display: block;
    opacity: 1;
}

/* Flexbox layout for responsiveness */
@media (max-width: 600px) {
    #accountDetails {
        width: 90%;
        padding: 15px;
    }

    .detail {
        flex-direction: column;
        align-items: flex-start;
    }

    .detail label {
        margin-bottom: 8px;
    }

    .copy-btn {
        width: 100%;
        margin-top: 10px;
    }
}


.notice{
    padding: 1rem;
    margin-top: 1rem;
}

.notice-content{
    background-color: #effd8779;
    padding: 1rem;
    font-size: 10px;
    border-radius: 10px;
}

.notice-content ul li{
    margin: 16px 0px;
}