*{
    padding: 0;
    z-index: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F3F3F7;
    padding: 20px;
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h3 {
    color: #30334B;
    text-align: center;
    margin: 1rem 0rem;
}

.balance{
    text-align: center;
    background-color: #30334bab;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    color: #25D0BC;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    color: rgb(84, 84, 84);
    margin-left: 5px;
    margin-top: 5px;
}

.form-group input{
    width: 95%;
}


.form-group input:focus {
    border-color: #F5F100;
    outline: none;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    background-color: #30334B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #606693;
}


/* Bottom Navigation Menu */
.bottom-nav {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.bottom-nav .nav-links li {
    text-align: center;
    flex: 1;
}

.bottom-nav .nav-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #30334B;
    text-decoration: none;
    font-size: 0.8rem;
}

.bottom-nav .nav-links li a img {
    width: 29px;
    height: 29px;
    margin-bottom: 4px;
    background-color: #ffffff;
}

.bottom-nav .nav-links li a span {
    font-size: 0.7rem;
}